@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primaryRed: #ff6060;

@mixin pageMargin {
  margin: 0 20% 0 20%;

  @media screen and (max-width: 768px) {
    margin: 0 10% 0 10%;
  }

  @media screen and (max-width: 425px) {
    margin: 0 5% 0 5%;
  }
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
