.card {
  width: 28%;

  border: 0;

  transition: ease-in-out 0.3s;

  &:hover {
    transform: scale(1.02);
  }

  .container {
    padding: 0;
    margin: 0;
    height: 300px;
    border-radius: 10px;

    position: relative;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      overflow: hidden;
    }

    h3 {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #fff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
      font-weight: 500;
      font-size: 18px;
      width: 90%;
    }

    @media screen and (max-width: 1024px) {
      height: 250px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
