@import '../../styles/style.scss';

.header {
  @include pageMargin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 50px;

  img {
    width: 160px;
  }

  ul {
    display: flex;
    gap: 40px;

    li {
      transition: ease-in-out 0.3s;
      text-decoration: none;
      list-style: none;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $primaryRed;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
