.slider {
  position: relative;

  .arrow {
    position: absolute;
    top: 45%;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.4));
    cursor: pointer;
    z-index: 1;
    transition: ease-in-out 0.2s;
    user-select: none;
  }

  .leftArrow {
    left: 15px;
    transform: scale(1.7) rotate(-90deg);

    &:hover {
      transform: scale(1.8) rotate(-90deg);
    }

    @media screen and (max-width: 425px) {
      transform: scale(1.4) rotate(-90deg);

      &:hover {
        transform: scale(1.5) rotate(-90deg);
      }
    }
  }

  .rightArrow {
    right: 15px;
    transform: scale(1.7) rotate(90deg);

    &:hover {
      transform: scale(1.8) rotate(90deg);
    }

    @media screen and (max-width: 425px) {
      transform: scale(1.4) rotate(90deg);

      &:hover {
        transform: scale(1.5) rotate(90deg);
      }
    }
  }

  .sliderContainer {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;

    @media screen and (max-width: 768px) {
      height: 300px;
    }

    @media screen and (max-width: 425px) {
      border-radius: 15px;
    }
  }

  .dotContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #fff;
    font-size: 22px;
    gap: 10px;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.4));

    .dot {
      cursor: pointer;
      transition: ease-in-out 0.2s;
      user-select: none;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
